.sign-in{
    width: 40%;
    display: flex;
    flex-direction: column;
    @media screen and(max-width:600px){
        
          width:100%
        }
    .title{
        margin: 10px 0;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
    }
}
