$sub-color: gray;
$main-color: black;

.contact-page {
  margin: 0 auto;
  width: 30%;

  @media screen and (max-width:600px) {
    margin: 0;
    width: 100%;
  }

  ::placeholder {
    font-size: large;
    padding: 1rem -1rem;
    font-family: 'Raleway', sans-serif;
  }
}

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

textarea {
  background: none;
  background-color: white;
  margin: 1rem 0;
  font-size: 18px;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  padding: 10px 10px 10px 5px;

  &:focus {
    outline: none;
  }

  &:focus~.form-input-label {
    @include shrinkLabel();
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
