@import url('https://fonts.googleapis.com/css?family=Scope+One&display=swap');
body{
    font-family: 'Scope One', serif;
    padding: 20px 60px;
    
}

a{
    text-decoration: none;
    color: black;
}
*{
    box-sizing: border-box ;
}
