@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,531;1,200;1,400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    padding: 20px 40px;


}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width:800px) {
    body {
        padding: 10px;
    }
}
